$accent_background_color: hotpink;
$accent_font_color: orange;

$background_color_dark: black;
$background_color_light: white;
$background_color_grey: rgba(100, 100, 100, 0.843);

$font_color_light: white;
$font_color_dark: black;
$font_color_hover: hotpink;

$transparent_color_dark: rgba(0, 0, 0, 0.616);
$transparent_color_light: rgba(232, 231, 231, 0.155);